
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	
}






a, li{
	
	text-decoration: none;
	
	color: black;
	list-style: none;
}



body{
	width: 100%;
}








header{
	   
	display: flex;
	   
	font-size: 1.5rem;
	   
	justify-content: space-between;	    
	align-items: center;
	/*background-color: rgb(255 40 40 / 75%);
*/
	padding-top: 20px;		
	position: absolute;
    /* top: 0; */
    width: 100%;
    /* left: 0; */
    z-index: 1;	   
	
}



#name{
		  
	 
		  
	font-size: 2.2rem;

	padding-bottom: 30px;		  
	padding-left: 5%;	
	color: white;
}


nav{

	margin-left: auto; 
	
	display: flex;
		  
	padding-bottom: 30px;	   
		
}


.nav-bar li{
	display: inline-block;
	padding: 0px 20px;
	
}

.nav-bar a:hover{
	z-index: -13;
	width: inherit;
	transition: 0.3s ease-out all;
	color: yellow !important;
}

.fa-bars {display: none; !important}

.fa-bars {font-size: 2.2rem;}!important

@media only screen and (max-width: 771px) {
	.course-sec {margin-bottom: 9% !important;}	
}	

	.course-sec {margin-bottom: 9% !important;}		
	@media only screen and (max-width: 768px) {
	

	.course-sec {margin-bottom: 9% !important;}

	.course-img{width:54%;}

	header{text-align: center;
		display: block;}

	#name{padding-bottom: 0px;}

	.main-h1{padding-top: 9rem !important;
    font-size: 11vw !important;}

	.guitar {font-size: 14.3vw;}

	nav{display: block;}

	.mail{width:50vw !important;}

	.footers{font-size: 2vw !important;}
	
	.nav-bar li {padding: 0px 39px;}
}

/* CSS HAMBURGER MENU */

@media only screen and (max-width: 425px) { 
.nav-bar {display: none;}
header {text-align: left; 
display: flex;
flex-direction: row;
align-items: stretch;}
.fa-bars {display: flex; 
margin-right: 10px;
    padding: 4px 5px;}
.fa-bars:hover {background-color: #DDD;}
.fas fa-bars {font-size: 1.9rem;}
}

@media only screen and (max-width: 425px) { 
.fa-bars:active {}
}

.social-link {
    font-size: 19px;
}


@media only screen and (max-width: 425px) {
.fa-facebook:before {
padding-right: 1rem; }
.course-img{height: 310px;}
.review-grp{flex: 50%;
	padding-top: 10%;}
.course-sec{margin-bottom: 14% !important;
			
			}
	.course-main{padding-bottom: 2%;}
	.main-h1{font-size: 14.3vw !important;
		padding-top: 10rem !important;}
	.guitar{font-size:21.3vw !important;}
	#discount h2{font-size:6vw;}
	.footers{font-size: 3.5vw !important;}
	#email-box p{font-size: 1.2rem;}
}

@media only screen and (max-width:320px) {
	
	.footers{font-size: 4vw !important;
	}


}
	
		
#main{
		   
	height: 100vh;
		   
	background-color: rgb(255 40 40 / 40%);	
/*overlay rgba(24, 39, 51, 0.85);*/
	
	width: 100%;
	position: relative;
	/*background: url('file:///C:/Users/USER/Documents/Code/IMG_20201114_100840_873.jpg') no-repeat center center/cover;	*/   	   
		
}
		
		

#main:before{
		   
	content: '';	

	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	background: url('https://images.pexels.com/photos/4088015/pexels-photo-4088015.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') no-repeat center center/cover;
	z-index: -1;	   	   
		
}
	

.main-h1{
		   
	font-size: 9.3vw /*4.8rem*/;
		   
	padding-left: 5%;
	
	padding-top: 10%;
	
	 	
}

.guitar{
		   
	font-size: 10.3vw/*7.8rem*/;
	
	text-transform: capitalize; 
	
	color: #ffe929;
    	border-bottom: dotted;
}
		
		

.border-btm{
		   
	border-bottom: 20px solid white;
		
}
		
		


form{
	padding: 25px 0px;
}
#email-box{
		   
	background-color: yellow;
		  
	margin-top: 0px;
		   	   
	padding: 30px;
		   
	text-align: center;
		
}
		
		

#email-box p{
		   
	font-size: 1.5rem;
		   
	font-style: italic !important;

}
		

.email-head{
		   
	font-size: 1rem;
		   
	font-style: none !important;

}
		
		

.mail{
		   
	border-width: 1px solid white;
		   
	padding: 12px 50px 10px 10px;
		   
	border-radius: 3px 0px 0px 3px;
		   
	width: 28vw;
		   
	border-width: 0px;
		
}
		
		

.btn{
		  
	padding: 10px 20px 10px 20px;
		   
	margin-left: -5px;
		   
	background-color: red;
		   
	border-radius: 0px 3px 3px 0px;
		   
	border-width: 0px;

	font-size: 0.9rem;
	font-weight: 540;
}
		
		

#discount{
		   
	text-align: center;

	font-size: 1.3rem;	
	margin-top: 0px;
	padding: 25px 0px;
}
	

	

#courses h2{
	   
	text-align: center;

	padding: 20px 0px;
	font-size: 2.4rem;
}
	
	

.course-img{
	   
	width: 20rem;
	   
	height: 330px;

}
	
	

#courses{
	   
	font-size: 1.3rem;
	text-align: center;

	background-color: white;
	margin-top: 0px;
	padding-bottom: 60px;
}
	
	

.course-sec{
	   
	border: 1px solid black;
	   
	border-radius: 4px;

	margin: 0px 20px;
	
}
	
	

.course-title{
	padding: 15px 0px;
}
.course-main{
	   
	display:flex;
	   
	justify-content: space-evenly;
	
	padding-top: 5px;
	flex-direction: row;

	flex-wrap: wrap;
}
	
	

.buy-btn{
	   
	text-align: center;
	
	background-color: yellow;
	width: fit-content;
    	margin: 0 auto 1.6em auto;

	padding: 0.7rem;	   
	border-width: 0px;	
}
	

.buy-btn:hover{
	background-color: orange;
	transition: 0.4s ease-out all;
}

#review-section{
	
	flex-direction: row;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	
}



#review-main h2{
	text-align: center;
    padding: 30px 0px;
    font-size: 2.4rem;
}
	

#review-section img{
	width: 15.9rem;
	height: 14rem;
	padding: 0px 20px;
	border: px solid black;
	border-radius: 100%;
} 
	


.review-grp{
	/*width: 50%;*/
	text-align: center;
	padding-top: 2%;
	align-items: center;
	padding-bottom: 2%;
	/*flex:50%;*/
	
}

/*
.grp-1{padding-left: 5%;}
.grp-4{padding-right: 5%;}*/

.review-grp p{
	text-align: center;
	line-height: 1.4;
	max-width: 12rem;
	padding: 10px 0px;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.2rem;
}

.review-name{
	text-align: center;
	line-height: 1.4;
	max-width: 12rem;
	padding: 10px 0px;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.2rem;
	font-weight: 600;
}

#review-main{
	
	background-color: #ffe500;
	
}

.copyright {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 200px;
    font-size: 19px;
    align-content: center;
    flex-direction: row;
padding-left: 1rem;
}
	
footer{
	background-color: red;
}

.base-footer{
display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: baseline;
}

.footers{
	display: flex;
	justify-content: space-around;
	padding: 30px 0px;
	font-size: 1.5vw;
	font-weight: 300;
}
.social-link {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 30px 20px 0px;
    font-size: 23px;
}

.social-link p{
	margin-right: auto;
	padding-left: 5%;
}

.social-link i{
	
	padding-right: 10px;
}


.fa-envelope:before {
  content: "\f0e0";
			color: #000000;
			 }



.fa-instagram:before {
  content: "\f16d";
			color: #000000;
			 }

.fa-twitter:before {
  content: "\f099";
			color: #000000;
			 }



.fa-facebook:before {
  content: "\f09a";
			color: #000000;
			padding-right: 3rem; }

.fab:hover {opacity:0.9;}
.fas:hover {opacity:0.9;}
